body {
  font-family: monospace;
  padding: 0;
  margin: 0;
  width: 1000px;
}

body .main {
  margin: 20px 10px;
  width: 800px;
  /* align-content: center; */
  margin: 40px auto;
  color: white;
  height: 600px;
}

body .main .tab .tabs #Section1 .title {
  text-align: center;
  padding-bottom: 20px;
}

body .main .tab .tabs #Section1 .resultSection .input {
  display: block;
  /* margin: 2em auto; */
  border: none;
  padding: 0;
  width: 100%;
  color: #f7f7f7;
  background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch) 0 100%/45ch 2px no-repeat;
  font: 2.5ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
}

body .main .tab .tabs #Section1 .resultSection .input:focus {
  outline: none;
  color: white;
}

body .main .tab .tabs #Section1 .resultSection .result {
  color: black;
}

body .main .tab .tabs #Section1 .inputSection .Addition {
  position: inherit;
  top: 26px;
  width: 100%;
}

body .main .tab .tabs #Section1 .inputSection .Subtraction {
  position: inherit;
  top: 36px;
  width: 100%;
}

body .main .tab .tabs #Section1 .inputSection .Multiply {
  position: inherit;
  top: 46px;
  width: 100%;
}

body .main .tab .tabs #Section1 .inputSection .Division {
  position: inherit;
  top: 56px;
  width: 100%;
}

body .main .tab .tabs #Section1 .inputSection .randomNum {
  position: inherit;
  top: 66px;
  width: 100%;
}

body .main .tab .tabs #Section1 .inputSection .clearAll {
  position: inherit;
  top: 76px;
  width: 100%;
}

body .main .tab .tabs #Section2 .title {
  text-align: center;
  padding: 20px;
}

body .main .tab .tabs #Section2 .leftSide {
  height: 600px;
}

body .main .tab .tabs #Section2 .leftSide .topSection {
  height: 480px;
  background-color: white;
  border-radius: 16px;
  color: black;
  padding: 10px;
}

body .main .tab .tabs #Section2 .leftSide .topSection .numberofRows {
  padding: 10px;
  text-align: center;
}

body .main .tab .tabs #Section2 .leftSide .bottomSection {
  margin-top: 70px;
}

body .main .tab .tabs #Section2 .leftSide .bottomSection .sumOfSalary {
  color: black;
  width: 70%;
}

body .main .tab .tabs #Section2 .rightSide {
  height: 500px;
}

body .main .tab .tabs #Section2 .rightSide .Addition {
  position: inherit;
  top: 26px;
  width: 100%;
}

body .main .tab .tabs #Section2 .rightSide .Subtraction {
  position: inherit;
  top: 36px;
  width: 100%;
}

body .main .tab .tabs #Section2 .rightSide .Multiply {
  position: inherit;
  top: 46px;
  width: 100%;
}

body .main .tab .tabs #Section2 .rightSide .Division {
  position: inherit;
  top: 56px;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */