    table th , table td{
        text-align: center;
    }

    table tr:nth-child(even){
        background-color: #BEF2F5
    }

    .pagination li:hover{
        cursor: pointer;
    }
            table tbody tr {
                display: none;
            }
/* css textarea section */
.textareaInput {
    margin-top: 10px;
    /* margin-left: 50px; */
    width: 700px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /* background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07); */
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
  }
  
  
  .textareaInput:focus {
      background: none repeat scroll 0 0 #FFFFFF;
      outline-width: 0;
  }


/* ////////////////////////////////////////// */
/* css running time section */
#runningTime{
    color: black;
    width: 200px;
}

/* ////////////////////// */

/* custom file input */



/* ////////////////////// */
a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab .nav-tabs{
    border: none;
    margin-bottom: 10px;
}
.tab .nav-tabs li a{
    display: block;
    padding: 5px 10px;
    margin: 0 10px 20px 0;
    font-size: 20px;
    font-weight: 700;
    color: #444bba;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    position: relative;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
    background: #fff;
    color: #e16a46;
    border: none;
}
.tab .nav-tabs li a:before{
    content: "";
    width: 3px;
    height: 0;
    background: #444bba;
    margin: 0 auto;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before{ height: 25px; }
.tab .nav-tabs li a:after{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e16a46;
    margin: 0 auto;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover:after,
.tab .nav-tabs li.active a:after{
    bottom: -10px;
    opacity: 1;
}
.tab .tab-content{
    padding: 15px;
    margin-top: 0;
    background: #e16a46;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    line-height: 25px;
    border: 5px dashed #fff;
    letter-spacing: 1px;
    position: relative;
    /* height: 940px; */
}
.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs{ margin-bottom: 0; }
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {
    
    .tab .tab-content{
        padding: 15px;
        margin-top: 0;
        background: #e16a46;
        border-radius: 20px;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        border: 5px dashed #fff;
        letter-spacing: 1px;
        position: relative;
        height: 940px;
    }
    .leftSide{
        width: 530px;
    }
    body .main .tab .tabs #Section2 .rightSide {
        height: 500px;
        padding-top: 50px;
        width: 160px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1096px) {
    
  
    .col-sm-3{
        /* background-color: yellow; */
        width: 100%;
    }
    .tab .tab-content{
        padding: 15px;
        margin-top: 0;
        background: #e16a46;
        border-radius: 20px;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        border: 5px dashed #fff;
        letter-spacing: 1px;
        position: relative;
        height: 940px;
        width: 1100px;
    }
    .leftSide{
        width: 530px;
    }
    body .main .tab .tabs #Section2 .rightSide {
        height: 500px;
        padding-top: 50px;
        width: 160px;
    }
}
  @media only screen and (min-width: 1096px)and (max-width: 1397px) {
   
  
   .inputSection{
        position: relative;
        /* right: 3px; */
        left: 65px;
        top: 20px;
   }
  
  }