body {
    font-family: monospace;
    padding: 0;
    margin: 0;
    width: 1000px;
    .main {
        margin: 20px 10px;
        // text-align: center;
        width: 800px;
        /* align-content: center; */
        margin: 40px auto;
        //@extend background: #62c1a2;
        color: white;
        height: 600px;

        .tab {
           // width: 980px;
           // padding: 20px 30px;

            .tabs {

                #Section1 {
                    .title {
                        text-align: center;
                        padding-bottom: 20px;
                    }

                    .resultSection {
                        $char-w: 1ch;
                        $gap: .20*$char-w;
                        $n-char: 30;
                        $in-w: $n-char*($char-w + $gap);

                        .input {
                            display: block;
                            /* margin: 2em auto; */
                            border: none;
                            padding: 0;
                            width: 100%;
                            color: #f7f7f7;
                            background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch) 0 100%/45ch 2px no-repeat;
                            font: 2.5ch droid sans mono, consolas, monospace;
                            letter-spacing: 0.5ch;

                            &:focus {
                                outline: none;
                                color: white;
                            }
                        }

                        .result {
                            color: black;
                        }
                    }
                    .inputSection {

                        .Addition {
                            position: inherit;
                            top: 26px;
                            width: 100%;
                        }
    
                        .Subtraction {
                            position: inherit;
                            top: 36px;
                            width: 100%;
                        }
    
                        .Multiply {
                            position: inherit;
                            top: 46px;
                            width: 100%;
                        }
    
                        .Division {
                            position: inherit;
                            top: 56px;
                            width: 100%;
                        }
                        .randomNum{
                            position: inherit;
                            top: 66px;
                            width: 100%;
                        }
                        .clearAll {
                            position: inherit;
                            top: 76px;
                            width: 100%;
                        }
                    }
                }

                #Section2{
                    .title{
                        text-align: center;
                        padding: 20px;
                    }
                    .leftSide{
                        height: 600px;
                      
                        .topSection{
                            height: 480px;
                            background-color: white;
                            border-radius: 16px;
                            color: black;
                            padding: 10px;
                            .numberofRows{
                                padding: 10px;
                                text-align: center;
                            }
                            
                        }
                        .bottomSection{
                            margin-top: 70px;
                            .sumOfSalary {
                                color: black;
                                width: 70%;
                            }
                        } 
                    }
                    .rightSide{
                       
                        height: 500px;
                        .Addition {
                            position: inherit;
                            top: 26px;
                            width: 100%;
                        }
    
                        .Subtraction {
                            position: inherit;
                            top: 36px;
                            width: 100%;
                        }
    
                        .Multiply {
                            position: inherit;
                            top: 46px;
                            width: 100%;
                        }
    
                        .Division {
                            position: inherit;
                            top: 56px;
                            width: 100%;
                        }
                    }
                }
        }


        }



    }
}